<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, magnam commodi corporis qui tempora id assumenda perferendis. Corporis rerum, provident perspiciatis impedit temporibus voluptas earum, molestias eligendi enim, accusamus beatae.
    Reiciendis, explicabo suscipit. Incidunt nesciunt alias sit doloremque quisquam corporis beatae cum animi maiores aliquid unde quibusdam exercitationem in quaerat, dignissimos expedita magni soluta. Libero illum illo officiis animi aliquid!
    Neque aspernatur deserunt illo architecto exercitationem. Sint, non maiores laudantium doloremque quia hic alias praesentium! Impedit at eum fugiat repudiandae, architecto deleniti quo praesentium! Unde facilis quidem quasi reprehenderit et.
    Deserunt voluptatibus esse minima eius maxime modi necessitatibus nostrum quasi, harum quaerat in obcaecati tempora ea temporibus nulla natus asperiores quisquam earum unde explicabo aspernatur veniam? Cupiditate similique quae ipsum?
    Fuga quas reiciendis iusto deserunt nulla, praesentium hic tenetur vitae alias, magnam minima laboriosam sequi ipsum quasi porro voluptatem accusamus delectus iure? Nam voluptatem cupiditate commodi voluptatum dolore cumque quasi.</p>
    <button>CLICK ME</button>
</body>
</html>